
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>

       @using(Html.BeginForm("Login","Login",FormMethod.Post))
        {
            <input type="hidden" name="ReturnURL" value="@ViewBag.ReturnURL"/>

            <label for="username">User Name:</label>
            <input type="text" name="username" />

            <label>Password:</label>
            <input type="text" name="password" />
            <input type="submit" value="Login" />
        }
           
    </div>
</body>
</html>
